@using LMS.Shared.DTOs.Read

<div class="col-lg-6 col-mb-6 col-sm-12">
    <div class="card mb-4">
        <div class="card-header">
            <h5 class="mb-0">Moduler</h5>
        </div>
        <div class="card-body">
            <p class="card-text"></p>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="table-light">
                        <tr>
                            <th>Module</th>
                            <th>Description</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var module in CourseData.Modules)
                        {
                            <tr>
                                <td>@module.Name</td>
                                <td>@module.Description</td>
                                <td>@module.StartDate</td>
                                <td>@module.EndDate</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public CourseDto CourseData { get; set; } = new CourseDto();
}
