@using LMS.Shared.DTOs.Read

<div class="col-lg-6 col-mb-6 col-sm-12">
    <div class="card mb-4">
        <div class="card-header">
            <h5 class="mb-0">Modules</h5>
        </div>
        <div class="card-body">
            <p class="card-text"></p>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="table-light">
                        <tr>
                            <th>Module</th>
                            <th>Description</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>C# objects and operators</td>
                            <td>lorem ipsum</td>
                            <td>2025-01-01</td>
                            <td>2025-01-03</td>
                        </tr>
                        <tr>
                            <td>C# Arrays</td>
                            <td>lorem ipsum</td>
                            <td>2025-01-04</td>
                            <td>2025-01-06</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@code {
    [Parameter]
    public CourseDto CourseData { get; set; } = new CourseDto();
}
