@using LMS.Shared.DTOs.Read

@if (Users == null || !Users.Any())
{
    <div class="text-center">
        <p>No users available.</p>
    </div>
}
else
{
    <div class="col-md-8 mb-4 align-self-center w-100">
        <h2 class="text-center">ANVÄNDARE</h2>
        <div class="card overflow-auto lexicon-rounded">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-borderless">
                        <thead class="table-light">
                            <tr>
                                <th class="align-middle">E-post</th>
                                <th class="align-middle">Förnamn</th>
                                <th class="align-middle">Efternamn</th>
                                <th class="align-middle">Roll</th>
                                <th class="text-center align-middle"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var user in Users)
                            {
                                <tr>
                                    <td class="align-middle">@user.Email</td>
                                    <td class="align-middle">@user.FirstName</td>
                                    <td class="align-middle">@user.LastName</td>
                                    <td class="align-middle">@(user.Role == "Teacher" ? "Lärare" : "Student")</td>
                                    <td class="d-flex justify-content-center align-items-center">
                                        <a href="/edit-user/@user.Id" class="btn lexicon-button-tiny button-fontsize-tiny">Redigera</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}
@code {
    [Parameter]
    public List<UserDto> Users { get; set; } = new();
}
