@using LMS.Shared.DTOs.Read

<div class="lexicon-primary d-flex flex-row p-5 mb-5 lexicon-rounded lexicon-home-box">
    <div class="lexicon-image-home lexicon-landing-image lexicon-rounded">
    </div>
    <div style="width: 300px;">
        <div class="text-center">
            <h3 class="mb-0">ADMIN</h3>
        </div>
        <p class="my-2">Hello world</p>
        <div class="d-flex align-items-center flex-column">
            <a href="admin" class="btn lexicon-button-tiny button-fontsize-tiny">
                LÄS MER
            </a>
        </div>
    </div>
</div>

@code {

}