@using LMS.Shared.DTOs.Read

<div class="lexicon-primary d-flex flex-row p-5 mb-5 lexicon-rounded lexicon-home-box">
    <div class="lexicon-image-home lexicon-landing-image lexicon-rounded">
    </div>
    <div style="width: 300px;">
        <div class="text-center">
            <h3 class="mb-0">MODUL: @ModuleData.Name</h3>
        </div>
        <p class="my-2">@truncatedString</p>
        <div class="d-flex align-items-center flex-column">
            <p><b>Slutdatum:</b> @ModuleData.EndDate.Year-@ModuleData.EndDate.Month-@ModuleData.EndDate.Day</p>
            <a href="courseoverview" class="btn lexicon-button-tiny button-fontsize-tiny">
                LÄS MER
            </a>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public ModuleDto ModuleData { get; set; } = new ModuleDto();

    public int maxLength = 250;
    public string truncatedString = "";

    protected override async Task OnInitializedAsync()
    {
        Truncate();
    }

    protected void Truncate()
    {
        truncatedString = ModuleData.Description.Length > maxLength ? $"{ModuleData.Description.Substring(0, maxLength)}..." : ModuleData.Description;
    }
}