@page "/admin"
@rendermode InteractiveWebAssembly

@using LMS.Blazor.Client.Components
@using LMS.Blazor.Client.Services
@using LMS.Shared.DTOs
@using LMS.Shared.DTOs.Read
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization

@attribute [Authorize]

<AuthorizeView>
    <Authorized>
        <div class="container mx-auto mt-5">
            @if (courses == null)
            {
                <p>Loading courses...</p>
            }
            else if (!courses.Any())
            {
                <p>No courses available.</p>
            }
            else
            {
                <div class="row justify-content-center">
                    @foreach (var course in courses)
                    {
                        <CourseCard Course="course" />
                    }
                </div>
            }
        </div>

    </Authorized>
    <NotAuthorized>
        <div class="container text-center mt-5">
            <p>You are not authorized to view this page.</p>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code {
    [Inject]
    private IApiService _apiService { get; set; } = default!;
    [Inject]
    private AuthenticationStateProvider AuthenticationStateProvider { get; set; } = default!;

    private List<CourseDto>? courses;
    private ModuleDto? moduleDtos;

    protected override async Task OnInitializedAsync()
    {
        await FetchCoursesAsync();
    }

    private async Task FetchCoursesAsync()
    {
        try
        {
            courses = (await _apiService.CallApiGetAsync<List<CourseDto>>("courses")).ToList();
            moduleDtos = (await _apiService.CallApiGetAsync<ModuleDto>("modules/1")); // <-- currently doesnt work
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error while fetching courses: {ex.Message}");
        }
    }
}
