@page "/courseoverview"
@rendermode InteractiveWebAssembly

@using LMS.Blazor.Client.Services
@using LMS.Shared.DTOs
@using LMS.Shared.DTOs.Read
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using LMS.Blazor.Client.Components

@attribute [Authorize]

<PageTitle>Course Overview</PageTitle>
<div class="row">
    <h4>Course Overview</h4>
</div>
<div class="row">
    <Course />
    <Modules />
</div>


<div class="row">
    <SelectedModule />
    <Activities />
</div>

<div class="row">
    <SelectedActivity />
</div>

<button class="btn btn-primary" @onclick="CallAPIAsync">Call API</button>
@if (course == null)
{
    <p>API not called yet</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@course.Name</td>
                <td>@course.Description</td>
            </tr>
        </tbody>
    </table>
}


@code {
    [Inject]
    private IApiService _apiService { get; set; } = default!;
    [Inject]
    private AuthenticationStateProvider AuthenticationStateProvider { get; set; } = default!;

    private CourseDto? course;

    private async Task CallAPIAsync()
    {
        course = (await _apiService.CallApiGetAsync<CourseDto>("courseForUser"));
    }
}
