@page "/edit-course"
@page "/edit-course/{courseId:int}"
@rendermode InteractiveWebAssembly
@using LMS.Blazor.Client.Services
@using LMS.Shared.DTOs.Read
@using LMS.Shared.DTOs.Update
@using Microsoft.AspNetCore.Components.Authorization

<h3>Edit course - @CourseId</h3>

@if(@course != null) {
    <h2>@course.Name</h2>
}
else {
    <h2>NULL</h2>
}

<h2>hej</h2>

@code {
    [Inject]
    private IApiService _apiService { get; set; } = default!;
    [Inject]
    private AuthenticationStateProvider AuthenticationStateProvider { get; set; } = default!;

    [Parameter]
    public int CourseId { get; set; }
    private CourseDto? course;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            course = await _apiService.CallApiGetAsync<CourseDto>($"courses/{CourseId}");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error while fetching courses: {ex.Message}");
        }
    }
}