@page "/register-user-complete"

<PageTitle>Registed User</PageTitle>
<div class="no-padding container-fluid w-100 h-100 d-flex justify-content-center align-items-center">
    <div class="lexicon-primary p-5 m-4 d-flex justify-content-center align-items-center flex-column lexicon-rounded-large">
        <h1 class="m-4">ANVÄNDARE SKAPAD!</h1>
        <a class="nav-link btn nav-button lexicon-button button-fontsize my-4" href="admin">FORTSÄTT</a>
    </div>
</div>