@page "/"

<PageTitle>Landing</PageTitle>
<div class="no-padding lexicon-landing-image container-fluid w-100 h-100 d-flex justify-content-center align-items-center">
    <div class="lexicon-primary p-4 m-4 d-flex justify-content-center align-items-center flex-column lexicon-rounded-large">
        <h1 class="m-4">VÄLKOMMEN TILL LEXICON!</h1>
        <a class="nav-link btn nav-button lexicon-button button-fontsize my-4" href="Account/Login">LOGIN</a>
    </div>
</div>

